*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    background-color: #0068E3;
    color: aliceblue;
    font-family: 'Burbank Big Condensed Bold', sans-serif;
    transition: .3s;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    min-width: 400px;
    height: 100vh;
}

/* navigation */
.nav {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
}

#login-button {
    margin: 20px 0 0 30px;
    width: 110px;
    height: 25px;
    font-weight: 900;
    color: #31EEFF;
    background-color: #004fd9;
    transition: .5s;
}

#login-button:hover {
    opacity: 1;
    background-color: #FFFFF6;
    color: #000000;
}

#exit-icon {
    transition: .5s;
}

#login-button:hover #exit-icon {
    color: #000000;
}

/* general */
#content-wrapper {
    display: flex;
    justify-content: center;
}

.content-block {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #F3FF03;
    font-size: 22px;
}

.material-symbols-outlined {
    margin-right: 5px;
    background: transparent;
}

/* first content block */
#first-content-block{
    margin-right: 70px;
}

#refresh-button {
    font-weight: 800;
    color: #00C8FF;
    width: 110px;
    height: 21px;
    background-color: #0086ED;
    border: 3px solid #00C8FF;
}

#refresh-button:hover {
    transform: scale(1.15);
    font-size: 25px;
}

#refresh-button:hover #refresh-icon {
    transform: rotate(50deg);
    font-size: 22px;
}

#folders-list {
    margin-top: 15px;
}

.fl-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    background-color: #2076CF;
    cursor: pointer;
}

.fl-item:hover {
    font-size: 22px;
    background-color: #3e90e8;
}


/* second content block */
#message-text-input {
    height: 320px;
    width: 350px;
    background-color: #06193d40;
    color: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.482);
    border-radius: 5px;
    font-size: 18px;
}

#message-text-input::placeholder {
    color: #fffff65c;
    font-size: 18px;
}

#message-text-input:focus {
    color: white;
    border: 2px solid white;
}

#start-button {
    margin-top: 20px;
    width: 120px;
    height: 25px;
    font-weight: 800;
    color: #030204;
}

#start-button:hover {
    transform: scale(1.15);
    font-size: 27px;
}