*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    background-color: #0068E3;
    color: aliceblue;
    font-family: 'Burbank Big Condensed Bold', sans-serif;
    transition: .3s;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    min-width: 400px;
    height: 100vh;
}

/* navigation */
.nav {
    margin-top: 5px;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
}

#login-button {
    margin: 0 0 0 30px;
    width: 110px;
    height: 25px;
    font-weight: 900;
    color: #31EEFF;
    background-color: #004fd9;
    transition: .5s;
}

#login-button:hover {
    opacity: 1;
    background-color: #FFFFF6;
    color: #000000;
}

#exit-icon {
    transition: .5s;
}

#login-button:hover #exit-icon {
    color: #000000;
}


#drop-down-container {
    position: relative;
    width: 135px;
    margin-left: 15px;
}

#acc-icon {
    font-size: 18px;
}

#drop-down-button {
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    background-color: #00C8FF;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
    overflow: hidden;
}

#drop-down-button:hover {
    background-color: #00C8FF;
    font-size: 23px;
    transform: scale(1.1);
}

#drop-down-button::after {
    content: ">";
    font-size: 18px; 
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%) rotate(90deg);
    pointer-events: none;
}

#drop-down-button.open::after {
    transform: translateY(-50%) rotate(270deg);
}

#tg-acc-list {
    position: absolute;
    left: 0;
    top: 44px;
    overflow: hidden;
    border-radius: 6px;
    width: 150px;
    background-color: #00C8FF;
    cursor: pointer;

    max-height: 130px;
    overflow: scroll;

    opacity: 0;
    visibility: hidden;

    transition: all .6s ease 0s;
}

#tg-acc-list::-webkit-scrollbar {
    display: none; 
}

#tg-acc-list.open {
    opacity: 1;
    visibility: visible;
}

.tg-acc-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: transparent;
}

.tg-acc-list-item:hover {
    background-color: #82e4ff;
}


.remove-acc-button { 
    padding: 2px; 
    display: flex; 
    height: 16px; 
    justify-content: center; 
    align-items: center; 
    background-color: white; 
    color: black; 
} 

.tg-acc-list-item:hover ~ .remove-acc-button { 
    background-color: red; 
    color: white; 
} 
 
.remove-acc-button:hover { 
    font-size: 18px; 
    background-color: rgb(213, 42, 42); 
    color: white; 
}


/* general */
#content-wrapper {
    display: flex;
    justify-content: center;
}

.content-block {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #F3FF03;
    font-size: 22px;
}

.material-symbols-outlined {
    margin-right: 5px;
    background: transparent;
}

/* first content block */
#first-content-block{
    margin-right: 70px;
}

#refresh-button {
    font-weight: 800;
    color: #00C8FF;
    width: 110px;
    height: 21px;
    background-color: #0086ED;
    border: 3px solid #00C8FF;
}

#refresh-button:hover {
    transform: scale(1.15);
    font-size: 25px;
}

.spin-animation {
    animation: spin-refresh 1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}
@keyframes spin-refresh {
    from {
      transform: rotate(50deg);
    }
    to {
      transform: rotate(410deg);
    }
}

#refresh-button:hover #refresh-icon {
    transform: rotate(50deg);
    font-size: 22px;
}

#folders-list {
    margin-top: 15px;
    height: 285px;
    overflow: scroll;
    border-radius: 5px;
}

#folders-list::-webkit-scrollbar {
    display: none; 
}

.fl-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    background-color: #2076CF;
    cursor: pointer;
}

.fl-item:hover {
    font-size: 22px;
    background-color: #3e90e8;
}

.fl-item.active {
    background-color: #61adff; /* Цвет фона для активных элементов */
}


/* second content block */
#message-text-input {
    height: 320px;
    width: 350px;
    padding: 10px;
    background-color: #06193d40;
    color: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.482);
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: none;
}

#message-text-input::placeholder {
    color: #fffff65c;
    font-size: 18px;
}

#message-text-input:focus {
    color: white;
    border: 2px solid white;
}

#delay-input-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#input-delay-label {
    margin-bottom: 4px;
}

#delay-input {
    background-color: #0086ED;
    width: 134px;
    margin-top: 0px;
    border: 2px solid #0086ED;
    border-radius: 8px;
}

#delay-input:focus {
    border-color: white;
}

#start-button {
    margin: 20px 0 20px 0;
    width: 120px;
    height: 25px;
    font-weight: 800;
    color: #030204;
}

#start-button:hover {
    transform: scale(1.15);
    font-size: 27px;
}

#start-bttn-spinner.loader {
    margin-left: 10px;
}

#sand-messages-status {
    background-color: #0086ED;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* message banner */
.message-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    padding: 15px;
    background-color: green;
    transition: opacity 1.2s;
    border-radius: 10px;
    opacity: 0;
}

.message-active-green {
    opacity: 1;
}
.message-active-red {
    background-color: red;
    opacity: 1;
}
.message-hide {
    opacity: 0;
}

/* modal window */
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000ad;
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;

    transition: all .6s ease 0s;
}

.modal.open {
    opacity: 1;
    visibility: visible;
}

.modal.close {
    opacity: 0;
    visibility: hidden;
}

.modal-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    background: transparent;
}

.modal-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004fd9;
    width: 400px;
    height: 340px;
    border-radius: 10px;
}

.modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.form-input {
    width: 280px;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 2px;
    margin-top: 15px;
    cursor: pointer;
}

.form-input::placeholder {
    color: rgba(255, 255, 255, 0.716);
}

.form-input:focus {
    background-color: #1d81ec;
}

#login-form-helper-text {
    width: 280px;
    padding: 8px;
    display: flex;
    margin-top: 5px;
    background-color: #004fd9;
}

#login-form-helper-text a{
    font-size: 20px;
    margin-right: 2px;
    color: rgb(255, 35, 35);
    background-color: transparent;
}

#login-form-helper-text p{
    background-color: transparent;
}

#submit-log-form-bttn {
    width: 100px;
    height: 20px;
    margin-top: 15px;
    color: #000000;
}

#submit-log-form-bttn:hover {
    transform: scale(1.15);
    font-size: 28px;
}

#submit-bttn-spinner.loader {
    margin-left: 10px;
}

/* load spinner */
.loader {
    border: 3px solid transparent;
    border-top: 4px solid black;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin .3s linear infinite;
    background-color: transparent;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }